<!DOCTYPE html>
<html>

<body>

    <form method="post" enctype="multipart/form-data" action="/upload/<%= id%>">
        <p>
            <input type="text" name="title" placeholder="optional title" />
        </p>

        <p>
            <input type="file" name="upl" />
        </p>

        <p>
            <input type="submit" />
        </p>
    </form>

</body>

</html>