<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    function validate() {
        var username = $('#username').val();
        var email = $('#email').val();
        var password = $('#password').val();
        var emailRegex = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[a-zA-Z]{2,4}$/;
        //match username
        var usernameRegex = /^[a-z0-9_-]{3,16}$/;
        //match password
        var passwordRegex = /^[a-z0-9_-]{6,18}$/;
        if (!username.match(usernameRegex)) {
            alert("Please input a valid name");
        } else if (!email.match(emailRegex)) {
            alert("Please input valid email");
        } else if (!password.match(passwordRegex)) {
            alert("Please input valid password,min length:6");
        }
        else return true;
        return false;
    }
</script>
<html>

<head>
    <title>Sign Up Here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="container">
    <div class="page-header">
        <h1>Simple Auth-System</h1>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container row">
        <div class="jumbotron col-sm-4 pull-center">
            <form action="/signup" onsubmit="validate()" method="post">
                <div>
                    <label>Username:</label>
                    <input type="text" id="username" name="username" />
                </div>
                <div>
                    <label>Email:</label>
                    <input type="text" id="email" name="email" />
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" id="password" name="password" />
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" id="submit" value="Sign Up" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <% if(typeof error != "undefined") { %>
        <p><%= error %></p>
        <% } %>
    </div>
</body>

</html>